* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: url('/img/login\ bgc.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    background: url('/img/login.jpg ') no-repeat;
    background-size: cover;

}

.login-register {
    width: 80%;
    padding: 20px;
    background: #fff;
    background: transparent;
    background: tex;

}

.form-container {
    display: none;
    flex-direction: column;
}

.form-container.active {
    display: flex;
}

.form-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-container input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.form-container button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #45a049;
}

input{
    background: transparent;
    color: #fff;
}

::placeholder{
    color: #fff;
}
/* for login */
#loginForm h2{
    color: #61e4ce;
}

#loginForm p{
    color: #fff;
}

#loginForm a{
    color: #61e4ce;
}

/* for register */
#registerForm h2{
    color: #61e4ce;
}

#registerForm p{
    color: #fff;
}

#registerForm a{
    color: #61e4ce;
}


#togglePassword {
    margin-bottom: 8px;
}

#togglePasswordRegister {
    margin-bottom: 8px;
}

.form-container p {
    margin-top: 15px;
    color: #666;
}

.form-container p a {
    color: #333;
    text-decoration: none;
}

.image-container {
    width: 50%;
    background: url('/img/login bgc.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
}

.text-overlay {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}